@font-face {
  font-family: Comfortaa;
  src: url(../assets/Comfortaa-VariableFont_wght.ttf);
}

.pinkBg {
  background-color: rgba(250, 0, 200, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Comfortaa;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

#pageContent {
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 15vh;
  bottom: 8vh;
  overflow: scroll;
  padding: 1rem;
}

h1 {
  font-size: 14px;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

a:hover,
a:focus {
  font-weight: bold;
}

a:visited {
}
