@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: "Frutilla Script";
  src: url("//db.onlinewebfonts.com/t/18408cd785e182e85092bbd4146e2260.eot");
  src: url("//db.onlinewebfonts.com/t/18408cd785e182e85092bbd4146e2260.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/18408cd785e182e85092bbd4146e2260.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/18408cd785e182e85092bbd4146e2260.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/18408cd785e182e85092bbd4146e2260.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/18408cd785e182e85092bbd4146e2260.svg#Frutilla Script")
      format("svg");
}

html {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

h1 {
  font-family: "Frutilla Script", sans-serif;
  font-size: 5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

#pageContent {
  margin: 1rem;
  max-width: calc(100vw - 1rem);
}

.golden {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
/* @media screen and (min-width: 636px) {
} */
