---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Service from "../components/Service.astro";
import Opening from "../components/Opening.astro";

const pageTitle = "Silvia's Design";
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TWNXB2TYM1"
    ></script>
    <script>
      import "../scripts/gtag.js";
    </script>
    <script></script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <Card title="Horários">
      <Opening />
    </Card>
    <Card title="Serviços" subtitle="Conheça os serviços oferecidos">
      <div id="services">
        <Service
          name="Design de Sobrancelhas"
          price="20"
          publicPath="design_simples.jpeg"
        />
        <Service
          name="Design + Tintura de Sobrancelhas"
          price="40"
          publicPath="design_com_tintura.jpeg"
        />
        <Service
          name="Design + Tintura com Henna"
          price="40"
          publicPath="design_com_henna.jpeg"
        />
      </div>
    </Card>
    <Footer />
  </body>
</html>
