---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Início";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Seja bem-vindo!</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla aperiam
    quia dicta, vitae natus consequuntur a non laudantium mollitia porro tempore
    ipsam commodi reprehenderit voluptates tempora pariatur dolor earum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla aperiam
    quia dicta, vitae natus consequuntur a non laudantium mollitia porro tempore
    ipsam commodi reprehenderit voluptates tempora pariatur dolor earum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla aperiam
    quia dicta, vitae natus consequuntur a non laudantium mollitia porro tempore
    ipsam commodi reprehenderit voluptates tempora pariatur dolor earum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla aperiam
    quia dicta, vitae natus consequuntur a non laudantium mollitia porro tempore
    ipsam commodi reprehenderit voluptates tempora pariatur dolor earum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla aperiam
    quia dicta, vitae natus consequuntur a non laudantium mollitia porro tempore
    ipsam commodi reprehenderit voluptates tempora pariatur dolor earum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla aperiam
    quia dicta, vitae natus consequuntur a non laudantium mollitia porro tempore
    ipsam commodi reprehenderit voluptates tempora pariatur dolor earum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla aperiam
    quia dicta, vitae natus consequuntur a non laudantium mollitia porro tempore
    ipsam commodi reprehenderit voluptates tempora pariatur dolor earum.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla aperiam
    quia dicta, vitae natus consequuntur a non laudantium mollitia porro tempore
    ipsam commodi reprehenderit voluptates tempora pariatur dolor earum.
  </p>
</BaseLayout>
