---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Service from "../components/Service.astro";

const pageTitle = "Silvia's Design";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <img id="big_logo" src="logo_big.svg" />
    </header>
    <Card title="Horários">
      <p>Segunda a sexta 08:30-18:30</p>
      <p>Sábados: 08:30-16:30</p>
      <button id="whatsapp_btn">Agende pelo whatsapp</button>
    </Card>
    <Card title="Serviços" subtitle="Conheça os serviços oferecidos">
      <Service name="Design de Sobrancelhas" price="20" />
      <Service name="Design + Tintura de sobrancelha" price="40" />
      <Service name="Design + Tintura com Henna" price="40" />
    </Card>
    <Footer />
  </body>
</html>
