---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Service from "../components/Service.astro";
import WhatsAppBtn from "../components/WhatsAppBtn.astro";
import OpeningHours from "../components/openingHours.astro";

const pageTitle = "Silvia's Design";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <img id="logo" src="logo_big.svg" />
    </header>
    <Card title="Horários">
      <OpeningHours />
      <WhatsAppBtn btn_class="golden_btn" />
    </Card>
    <Card title="Serviços" subtitle="Conheça os serviços oferecidos">
      <div id="services">
        <Service
          name="Design de Sobrancelhas"
          price="20"
          publicPath="design_simples.jpeg"
        />
        <Service
          name="Design + Tintura de Sobrancelhas"
          price="40"
          publicPath="design_com_tintura.jpeg"
        />
        <Service
          name="Design + Tintura com Henna"
          price="40"
          publicPath="design_com_henna.jpeg"
        />
      </div>
    </Card>
    <Footer />
  </body>
</html>
