---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Prices";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>

  <p>This is where the price table will be.</p>
</BaseLayout>
