---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Preços";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Confira os preços abaixo:</h2>

  <p>price table</p>
</BaseLayout>
