---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Preços";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Texto</h2>

  <p>This is where the price table will be.</p>
</BaseLayout>
