---
---

<div class="container">
  <div class="banner_img">
    <img
      src=`https://media.gettyimages.com/id/1177380510/pt/foto/beautiful-young-woman-gets-eyebrow-correction-procedure.jpg?s=612x612&w=gi&k=20&c=2D-PP8goIUvxeNnwjoHahYN64Ab39tuYPmcC1ydkmPI=`
      alt=""
    />
  </div>
  <div class="quote golden">
    <p>
      Design de sobrancelhas é muito mais do que remover pelos... É renovar a
      sua autoestima!
    </p>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: row;
    min-height: 10rem;
    max-width: 90vw;
  }

  .banner_img {
    min-height: inherit;
    object-fit: fill;
    max-width: 45vw;
  }
  p {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
  }
  .quote {
  }
</style>
