---
---

<div class="container">
  <div class="banner_img">
    <img
      src=`https://media.gettyimages.com/id/1177380510/pt/foto/beautiful-young-woman-gets-eyebrow-correction-procedure.jpg?s=612x612&w=gi&k=20&c=2D-PP8goIUvxeNnwjoHahYN64Ab39tuYPmcC1ydkmPI=`
      alt=""
    />
  </div>
  <div class="quote">
    <p>
      "Design de sobrancelhas é muito mais do que remover pelos... É renovar a
      sua autoestima!"
    </p>
  </div>
</div>

<style>
  #quote_wrapper {
    border-image: url("../assets/logos/golden_frame.png") 10;
  }
  .quote {
    flex-direction: column;
    background: white;
  }

  p {
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
  }
</style>
