---
const { title, subtitle } = Astro.props;
---

<div id="page_content">
  <h1 class="golden line"><span>{title}</span></h1>
  <h2>{subtitle}</h2>
  <slot />
</div>

<style>
  h1 span {
    align-self: baseline;
    max-width: max-content;
  }

  #page_content {
    text-align: center;
    max-width: 100vw;
    padding: 1rem;
  }

  h2 {
    font-weight: normal;
  }
</style>
