---
const address = "Av. Maurício Cardoso, 122 - Feliz/RS";
---

<footer class="pinkBg">
  <p>{address}</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
