---
import Social from "./Social.astro";

const address = "Av. Maurício Cardoso, - Feliz/RS";
---

<footer>
  <Social platform="instagram" username="silviasdesign" />
  <Social platform="facebook" username="silvia" />
  <p>{address}</p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
