---
import Navigation from "../components/Navigation.astro";
---

<input type="checkbox" id="hamburger-input" />
<label id="hamburger-menu" for="hamburger-input">
  <nav id="sidebar-menu">
    <Navigation />
  </nav>
</label>
