---
import WhatsAppBtn from "../components/WhatsAppBtn.astro";

const open = "O estúdio está aberto!";
const closed = "O estúdio está fechado no momento.";
let message = "";

function checkOpeningHours() {
  const currentDate = new Date();
  const weekdays = [
    "Sunday",
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
  ];
  const currentWeekday = weekdays[currentDate.getDay()];
  const openingHours = {
    Sunday: {
      open: "closed",
    },
    Monday: {
      open: 9,
      close: 18,
    },
    Tuesday: {
      open: 9,
      close: 18,
    },
    Wednesday: {
      open: 9,
      close: 18,
    },
    Thursday: {
      open: 9,
      close: 18,
    },
    Friday: {
      open: 9,
      close: 18,
    },
    Saturday: {
      open: 9,
      close: 18,
    },
  };
  let currentHour = currentDate.getHours();
  if (
    currentHour >= openingHours[currentWeekday].open &&
    currentHour < openingHours[currentWeekday].close
  ) {
    message = open;
  } else {
    message = closed;
  }
  return { message };
}
---

<p id="message">{message}</p>
<div id="table">
  <p class="day">Segunda a sexta</p>
  <p class="hour">08:00 - 18:00</p>
  <p class="day">Sábados</p>
  <p class="hour">08:00 - 12:00</p>
</div>
<div id="blank"></div>
<WhatsAppBtn btn_class="golden_btn" />

<style>
  div {
    margin-bottom: 20px;
  }
  #op_h {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #message {
    font-size: 22px;
    padding: 0;
  }
  #table {
    display: grid;
    gap: 0;
    grid-template-columns: 180px 180px;
    margin: auto;
    justify-content: center;
  }
  #table > p {
    font-size: 22px;
    padding: 0.2rem;
    margin: 0 0.5rem;
  }
  #blank {
    height: 1rem;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: left;
  }
</style>
