---
const { name, price } = Astro.props;
---

<div class="service">
  <img class="service_img" />
  <h3>{name}, R${price}</h3>
</div>

<style>
  h3 {
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
</style>
