---
---

<h1 class="golden"><span>Title</span></h1>
<h2>Subtitle</h2>
<p>Description</p>

<style>
  h1 {
    width: 100%;
    text-align: center;
    line-height: 0.1rem;
  }
  h1 span {
    padding: 0 10px;
  }
</style>
