---
const { title, subtitle } = Astro.props;
---

<h1 class="golden"><span>{title}</span></h1>
<h2>{subtitle}</h2>
<slot />

<style>
  h1 {
    text-align: center;
    line-height: 0.1rem;
    list-style: lower-alpha;
    margin: 3rem 0;
    text-decoration: solid;
  }
  h1 span {
    align-self: baseline;
    max-width: max-content;
  }
  h2 {
    text-align: center;
  }
</style>
