---
const { socialNetwork } = Astro.props;

const socialInfo = {
  instagram: {
    href: "https://instagram.com/silvia.design",
    src: "instagram.svg",
    alt: "Instagram",
  },
  whatsapp: {
    href: "https://wa.me/5551997140042",
    src: "whatsapp.svg",
    alt: "WhatsApp",
  },
  facebook: {
    href: "https://facebook.com/silvias.designs",
    src: "facebook.svg",
    alt: "Facebook",
  },
};

const networkInfo = socialInfo[socialNetwork];
---

<a href={networkInfo.href}>
  <img class="social_icon" src={networkInfo.src} alt={networkInfo.alt} />
</a>

<style>
  img {
    background: none;
    border: none;
    padding: 1rem;
    padding-bottom: 0;
  }
</style>
